<iframe height="458" style="width: 100%;" scrolling="no" title="Draft Countdown" src="https://codepen.io/{{ .Get 0 }}/embed/{{ .Get 1 }}?height=458&theme-id=light&default-tab=js,result" frameborder="no" loading="lazy" allowtransparency="true" allowfullscreen="true">
    See the Pen <a href='https://codepen.io/{{ .Get 0 }}/pen/{{ .Get 1 }}'>Draft Countdown</a> by {{ .Get 0 }}
    (<a href='https://codepen.io/{{ .Get 0 }}'>@{{ .Get 0 }}</a>) on <a href='https://codepen.io'>CodePen</a>.
  </iframe>